<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net45" />
  <package id="Fody" version="6.5.1" targetFramework="net45" developmentDependency="true" />
  <package id="MiniExcel" version="1.26.1" targetFramework="net48" />
  <package id="PropertyChanged.Fody" version="3.4.0" targetFramework="net45" />
  <package id="Stylet" version="1.3.6" targetFramework="net48" />
</packages>